* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(../img/bgp.png);
  background-size: contain;
}
body > main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}
body > main > .btn {
  width: 300px;
  height: 70px;
  font-size: 23px;
  position: absolute;
  top: 600px;
  background-color: #1b1b1b;
  border-radius: 8px;
  transition: 0.4s;
  border: 2px solid #080808;
  z-index: 10;
  color: white;
}
body > main > .btn:hover {
  background-color: #464646;
  border: 2px solid #000000;
}
body > main > .start {
  width: 100%;
  height: 118vh;
  background-image: url(../img/original-2e8c30bcbd0e1cc19437d02e348a7ece.gif);
  background-size: cover;
  position: absolute;
  top: -132px;
  z-index: 10;
}
body > main > .total {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body > main > .total > input {
  border: 2px solid black;
  margin-left: 16%;
  position: absolute;
  top: 200px;
  left: 80px;
  width: 30%;
  height: 40px;
  border-radius: 12px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  z-index: 99;
}
body > main > .total > #btn {
  width: 80px;
  position: absolute;
  top: 205px;
  left: 45.5%;
  padding: 5px;
  border-radius: 10px;
  transition: 0.4s;
  z-index: 99;
  border: 2px solid black;
}
body > main > .total > #btn:hover {
  background-color: #252525;
  color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}
body > main > .total > .paper {
  padding: 20px;
  padding-top: 40px;
  margin: 30px;
  width: 70%;
  height: 90%;
  display: flex;
  justify-content: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
}
body > main > .total > .paper > h1 {
  font-size: 50px;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.315), 0 1px rgba(0, 0, 0, 0.541), 1px 0 rgba(0, 0, 0, 0.541), 0 -1px rgba(0, 0, 0, 0.541);
}
body > main > .total > .paper > ul {
  position: absolute;
  top: 300px;
  left: 80px;
}
body > main > .total > .paper > ul > li {
  width: 850px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  border-bottom: 1px dashed rgba(8, 8, 8, 0.3647058824);
  padding: 5px;
}
body > main > .total > .paper > ul > li > label {
  font-size: 25px;
  margin-inline: 10px;
}
body > main > .total > .paper > ul > li > #check {
  margin: 10px;
}
body > main > .total > .paper > ul > li > span {
  position: absolute;
  padding-top: 10px;
}
body > main > .total > .paper > ul > li > .s1 {
  left: 800px;
}
body > main > .total > .paper > ul > li > .s2 {
  left: 720px;
}
body > main > .total > .paper > ul > li > .inp2 {
  border-radius: 8px;
  width: 340px;
  margin-left: 10px;
  font-size: 21px;
  padding: 5px;
  padding-left: 10px;
}
body > main > .total > .paper > ul > li > .btn2 {
  border-radius: 8px;
  width: 110px;
  margin-left: 3px;
  transition: 0.4s;
}
body > main > .total > .paper > ul > li > .btn2:hover {
  background-color: #252525;
  color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}
body > main > .total > .calender {
  margin: 10px;
  width: 18%;
  height: 200px;
  position: absolute;
  top: 50px;
  right: 80px;
  font-size: 45px;
  line-height: 98px;
  color: rgb(65, 65, 65);
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgba(0, 0, 0, 0.795), 0 1px rgba(0, 0, 0, 0.815);
}
body .row {
  list-style-type: none;
  display: flex;
  position: relative;
}
body .hide {
  display: none;
}/*# sourceMappingURL=style.css.map */